<form method="post" action="{{ path('app_monnaie_delete', {'id': monnaie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ monnaie.id) }}">
    <button class="btn">Delete</button>
</form>
