{% extends 'base.html.twig' %}

{% block title %}Edit Tiers{% endblock %}

{% block body %}
    <h1>Edit Tiers</h1>

    {{ include('tiers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tiers_index') }}">back to list</a>

    {{ include('tiers/_delete_form.html.twig') }}
{% endblock %}
