{% extends 'base.html.twig' %}

{% block title %}Edit PieceComptable{% endblock %}

{% block body %}
    <h1>Edit PieceComptable</h1>

    {{ include('piece_comptable/_form.html.twig', {'button_label': 'Modifier'}) }}

{#    <a href="{{ path('app_piece_comptable_index') }}">back to list</a>#}

{#    {{ include('piece_comptable/_delete_form.html.twig') }}#}
{% endblock %}
