{% extends 'base.html.twig' %}

{% block title %}New PieceComptable{% endblock %}

{% block body %}
    <h1>Create new Piece Comptable</h1>

    {{ include('piece_comptable/_form.html.twig') }}

{% endblock %}
